:root{
    --bground: 90deg, rgb(19, 41, 57), rgb(42, 42, 171),  rgb(20, 188, 188);
    --text-color: purple;
}
html{
    font-family: sans-serif;
}
body{
    background: linear-gradient(var(--bground));
    height: 100vh;
    overflow-y: hidden ;
}
form{
    border: solid rgb(187, 187, 187) 1px;
    margin: 10rem auto 3rem auto;
    width: 25%;
    padding: 1rem 2rem;
    background-color: white;
}
h2{
    /* text-align: center; */
    font-size: 2rem;
    text-decoration: underline;
    color: black;
}
input:nth-of-type(1), input:nth-of-type(2){
    width: 100%;
    border: none;
    border-bottom: solid rgb(8, 6, 146) 1px;
    outline: none;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--text-color)
}
input:nth-of-type(1){
    margin-top: 1.5rem;
}
input:nth-of-type(2){
    margin-bottom: 1.5rem;
}
label{
    font-size: 1.1rem;
}
button{
    display: block;
    width: 100%;
    margin-top: 3rem;
    border: none;
    padding:0.5rem;
    font-size: 1.1rem;
    background: linear-gradient(var(--bground));
    color: white;
}
p{
    font-size: 0.8rem;
    display: inline-block;
    text-align: right;
    color: var(--text-color);
}
