:root{
    --bground: 90deg, rgb(46, 0, 39), rgb(137, 5, 117),  rgb(188, 20, 188);
    --hover-bgroung: 90deg, rgb(128, 0, 109), rgb(219, 0, 186),  rgb(255, 122, 255);
    --text-color: purple;
}
html{
    font-family: sans-serif;
}
body{
    background: linear-gradient(var(--bground));
    height: 100vh;
    overflow-y: hidden ;
}
form{
    border: solid rgb(187, 187, 187) 1px;
    margin: 10rem auto 3rem auto;
    width: 25%;
    padding: 1rem 2rem;
    background-color: white;
}
h2{
    /* text-align: center; */
    font-size: 2rem;
    text-decoration: underline;
    color: black;
}
input{
    width: 100%;
    border: none;
    border-bottom: solid rgb(95, 2, 86) 1px;
    outline: none;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--text-color);
}
input:nth-of-type(1):hover, input:nth-of-type(2):hover{
    border-bottom-color:rgb(175, 73, 165) ;
}
input:nth-of-type(1){
    margin-top: 1.5rem;
}
#stay-logged{
    margin-top: 1.5rem;
    display: inline;
    width: initial;
    outline: initial;

}
#stay-logged, button:hover, p:hover{
    cursor: pointer;
}
label{
    font-size: 1.1rem;
}
button{
    display: block;
    width: 100%;
    margin-top: 3rem;
    border: none;
    padding:0.5rem;
    font-size: 1.1rem;
    background: linear-gradient(var(--bground));
    color: white;
}
p{
    font-size: 0.8rem;
    display: inline-block;
    text-align: right;
    color: var(--text-color);
    transition: 300ms;
}
button:hover{
    background: linear-gradient(var(--hover-bgroung));
}
p:hover{
    color: rgb(210, 79, 219);
}
