:root{
    --bground: 120deg, rgba(148, 148, 148, 0.775), rgba(209, 209, 209, 0.678),  white;
    --hover-bgroung:rgba(128, 128, 128, 0.819) ;
    --text-color: rgb(43, 43, 43);
}
html{
    font-family: sans-serif;
}
body{
    background: linear-gradient(var(--bground));
    height: 100vh;
    overflow-y: hidden ;
}
form{
    border: solid rgb(8, 6, 6) 1px;
    margin: 10rem auto 3rem auto;
    width: 25%;
    padding: 1rem 2rem;
    background-color: white;
    border-radius: 15px;
}
h2{
    /* text-align: center; */
    font-size: 2rem;
    text-decoration: underline;
    color: black;
}
input{
    width: 100%;
    border: none;
    border-bottom: solid var(--text-color) 1px;
    outline: none;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--text-color);
}
input:hover{
    border-bottom-color:rgb(160, 160, 160) ;
}
input:nth-of-type(1){
    margin-top: 1.5rem;
}
#stay-logged{
    margin-top: 1.5rem;
    display: inline;
    width: initial;
    outline: initial;

}
#stay-logged, button:hover, p:hover{
    cursor: pointer;
}
label{
    font-size: 1.1rem;
}
button{
    display: block;
    width: 100%;
    margin-top: 3rem;
    border: solid 1px;
    padding:0.5rem;
    font-size: 1.1rem;
    background: rgb(193, 193, 193);
    border-radius: 15px;
    transition: 300ms;
}
p{
    font-size: 0.8rem;
    display: inline-block;
    text-align: right;
    color: rgb(22, 22, 22);
    transition: 300ms;
}
button:hover{
    background-color: var(--hover-bgroung);
    
}
p:hover{
    color: gray;
}
