:root{
    --bg-color: 80deg, rgb(3, 77, 143), rgb(132, 232, 237), rgb(242, 242, 242);
    --form-bg-color: 110deg, rgb(173, 18, 80),rgb(197, 0, 155), rgb(7, 159, 154), rgb(3, 104, 92);
    --hover-bg:rgb(106, 241, 82);
    --text-color: rgb(255, 255, 255);
    --button-bg-color:  rgb(169, 250, 155);
    --button-text-color: rgb(16, 73, 158);
    --border-color: rgb(255, 255, 255);
}
html{
    font-family: sans-serif;
    background: linear-gradient(var(--bg-color));
}
body{
    height: 100vh;
    padding-bottom: 5rem;
    overflow: auto;
}
form{
    border: none;
    margin: 1rem auto 5rem auto;
    width: 50%;
    padding: 4rem 6rem 3rem 6rem;
    background: linear-gradient(var(--form-bg-color));
    box-shadow: 3px 3px 15px  black ;
    color: var(--text-color);
    border-radius: 25px;
}
h2{
    font-size: 2.5rem;
    text-align: center;
    color: var(--text-color);
    margin-top: 5rem; 
}
hr{
    border-color:  rgb(117, 117, 117);
}
input{
    width: 100%;
    border: none;
    border-bottom: solid var(--text-color) 1px;
    outline: none;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--button-text-color);
    background: white;
    padding: 0.5rem 0 0.5rem 0.2rem;
    font-size: 1.2rem;
}
input:hover{
    border-bottom-color:rgb(160, 160, 160) ;
}

button:hover, p:hover{
    cursor: pointer;
}
label{
    display: block;
    font-size: 1.3rem;
    padding:0.5rem; 
    margin: 0;
}
.checkbox-wrapper, .radio-wrapper{
    padding-left: 3rem;
}

.option , .check{
    display: inline-block;
    width: initial;
    color: var(--text-color);
}
#choice0, #choice1, #choice2, #option0, #option1, #option2{
    width: initial;
}
.checkbox-option-title, .radio-option-title{
    display: inline-block;
}
button{
    display: block;
    width: 100%;
    margin-top: 3rem;
    border: solid 1px;
    padding:0.5rem 0;
    font-size: 1.1rem;
    background: var(--button-bg-color);
    transition: 300ms;
    border: none;
    color: var(--button-text-color);
}
button:hover{
    background: var(--hover-bg);
}
button, form, input{
    border-radius: 50px;
}

