:root{
    --bg-color: 80deg, rgb(8, 63, 73), rgb(41, 41, 41), rgb(67, 67, 67);
    --form-bg-color: transparent;
    --hover-bg:rgba(91, 91, 91, 0.716);
    --text-color: rgb(255, 255, 255);
    --button-bg-color:  transparent;
    --button-text-color: rgb(53, 189, 219);
    --border-color: rgb(255, 255, 255);
}
html{
    font-family: sans-serif;
}
body{
    background: linear-gradient(var(--bg-color));
    height: 100vh;
    overflow-y: hidden ;
}
form{
    margin: 10rem auto 3rem auto;
    width: 25%;
    padding: 1rem 2rem;
    background: var(--form-bg-color);
    border: solid 1px var(--border-color);
    text-align: center;
}
h2{
    font-size: 2rem;
    color: var(--text-color);
    /* text-align: center; */
}
hr{
    width: 40%;
    box-shadow: 3px 3px 10px black;
}
input{
    width: 100%;
    outline: none;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 0 0.3rem 0.2rem;
    background: transparent;
    border: none;
    border-bottom: solid 1px var(--border-color);
}
input:nth-of-type(1){
    margin-top: 1.5rem;
}
#stay-logged{
    margin-top: 1.5rem;
    display: inline;
    width: initial;
    outline: initial;
    box-shadow: initial;

}
#stay-logged, button:hover, p:hover{
    cursor: pointer;
}
label{
    font-size: 1.1rem;
    color: white;
}
button{
    display: block;
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    padding:0.5rem;
    font-size: 1.1rem;
    background: var(--button-bg-color);
    border: solid 1px var(--border-color);
    color: var(--button-text-color);
    transition: 300ms;
}
p{
    font-size: 0.8rem;
    /* display: inline-block; */
    color: rgb(40, 108, 125);
    transition: 300ms;
}
button:hover{
    background: var(--hover-bg);
    box-shadow: 3px 3px 10px black;
    
}
p:hover{
    color: var(--text-color);
}
