:root{
    --bg-color: 80deg, rgb(38, 38, 38), rgb(191, 191, 191), rgb(69, 69, 69);
    --form-bg-color: 110deg, rgba(30, 30, 30, 0.688), rgb(74, 74, 74), rgba(34, 34, 34, 0.642);
    --hover-bg:rgba(0, 20, 24, 0.995);
    --text-color: rgb(227, 227, 227);
    --button-bg-color:  rgb(129, 128, 128);
    --button-text-color: white;
    --border-color: rgb(159, 159, 159);
}
html{
    font-family: sans-serif;
    background: linear-gradient(var(--bg-color));
}
body{
    height: 100vh;
    padding-bottom: 5rem;
    overflow: auto;
}
form{
    margin: 1rem auto 5rem auto;
    width: 50%;
    padding: 4rem 6rem 3rem 6rem;
    background: linear-gradient(var(--form-bg-color));
    color: var(--text-color);
    border-radius: 50px;
    box-shadow: 3px 3px 15px  black ;
}
h2{
    font-size: 2.5rem;
    text-align: center;
    color: var(--text-color);
    margin-top: 2rem; 
}
hr:first-of-type{
    width: 70%;
    box-shadow: 3px 3px 10px black;
    margin-bottom: 2.5rem;
}
input{
    width: 100%;
    border: none;
    border-bottom: solid var(--text-color) 1px;
    outline: none;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--button-text-color);
    background: transparent;
}
input:hover{
    border-bottom-color:rgb(160, 160, 160) ;
}

button:hover, p:hover{
    cursor: pointer;
}
label{
    display: block;
    font-size: 1.3rem;
    padding:0.5rem; 
    margin: 0;
}
.checkbox-wrapper, .radio-wrapper{
    padding-left: 3rem;
}
.check{
    display: inline-block;
    width: initial;
    color: var(--button-text-color);
    /* border: solid 1px rgb(8, 0, 255); */
}
.option{
    display: inline-block;
    width: initial;
    color: var(--button-text-color);
    /* border: solid 1px rgb(60, 255, 0); */
}
#choice0, #choice1, #choice2, #option0, #option1, #option2{
    width: initial;
}
.checkbox-option-title, .radio-option-title{
    display: inline-block;
}
button{
    display: block;
    width: 60%;
    margin: auto;
    margin-top: 3rem;
    border: solid 1px;
    padding:0.5rem 0;
    font-size: 1.1rem;
    background: var(--button-bg-color);
    transition: 300ms;
    border: solid 1px var(--border-color);
    color: var(--button-text-color);
    border-radius: 10px;
}
p{
    font-size: 0.8rem;
    display: inline-block;
    text-align: right;
    color: rgb(22, 22, 22);
    transition: 300ms;
}
button:hover{
    background-color: var(--hover-bg);
    
}
p:hover{
    color: var(--button-bg-color);
}
form, button{
    
    border:none;
}
