:root{
    --bg-color: rgb(255, 255, 255);
}
html{
    background-color: var(--bg-color);
    scroll-behavior: smooth;
    overflow-x: hidden;
}
html::-webkit-scrollbar, html * ::-webkit-scrollbar{
    background-color: rgb(61, 61, 61);
}
html::-webkit-scrollbar-button , html * ::-webkit-scrollbar-button{
    background-color: rgb(43, 43, 43);
}
html::-webkit-scrollbar-thumb, html * ::-webkit-scrollbar-thumb{
    background: linear-gradient(rgb(63, 63, 63), gray , rgb(66, 66, 66));
    border: solid 1px white;
    /* box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.6),  0px 5px 10px rgba(0, 0, 0, 0.6); */
}
/*  */

html, body, main, section{
    padding: 0;
    margin: 0;
}
nav{
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7), -5px 5px 15px rgba(0, 0, 0, 0.7);
    padding: 0.5rem 0 0.3rem 0;
    z-index: 10;
}
nav span:first-of-type{
    margin-left: 3rem;
}
nav span:nth-of-type(2){
    display: flex;
    justify-content: space-evenly;
    margin-right: 5rem;
}
nav span h1, nav span p{
    margin: 0;
}
nav span h1{
    font-size: 2rem;
}
nav span p{
    font-size: 1.35rem;
    margin: 0.4rem 1.6rem 0 0 ;
    cursor: pointer;
    transition: 250ms;
    border-bottom: solid white 1px;

}
nav span p:hover{
    color: rgb(62, 62, 62);
    border-color: black;
}
/* opening section */
.opening-section{
    color: white;
    height: 100vh;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.7), -5px 5px 15px rgba(0, 0, 0, 0.7);
}
.opening-img{
    z-index: -1;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    position: absolute;
}
.opening-text{
    border: solid rgba(255, 255, 0, 0) 1px;
}
.opening-texts-wrapper{
    box-shadow: inset 4px 4px 30px black;
    background-color: rgba(0, 0, 0, 0.7);
    padding-bottom: 0.5rem;
    width: 100vw;
    margin: 0 auto;
    animation: falling 0.8s ease-in-out forwards
}
@keyframes falling{
    0%{
        transform: translate(0%, -200%);
    }
    100%{
        transform: translate(0%, 0%);
    }
}
/* .opening-main-text, .opening-secondary-text{
    text-shadow: 
        10px 10px 30px  black, 
        10px -10px 30px  black,
        -10px 10px 30px  black, 
        -10px -10px 30px  black;;
} */
.opening-main-text{
    margin-top: 20rem;
    font-size: 2.5rem;
    text-align: right;
    padding-right: 5rem;
    animation: falling 1s ease-in-out forwards;
    /* animation-delay: 1s; */
}
.opening-main-text p, .opening-main-text h1, .opening-secondary-text p{
    animation: falling 1.2s ease-in-out forwards;
    margin: 0;
}
.opening-main-text h1{
    padding-top: 1rem;
}
.opening-secondary-text{
    padding-left: 4rem;
    font-size: 1.7rem;
}
/* .about section */
.about-section{
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    z-index: 2;
    background: linear-gradient(90deg, rgb(241, 241, 241), rgb(255, 255, 255), rgb(245, 245, 245) 50%, rgb(0, 0, 0)50%, black 100%);
    box-shadow: inset 5px 5px 20px gray;
    margin: 0;
    overflow: auto;
}
.about-left-div{
    opacity: 0;
    text-shadow: 3px 3px 25px black;
}
.about-left-div h2, .about-left-div p{
    padding: 0 2rem ;
}
.about-left-div h2{
    padding-top: 3rem;
    font-size: 3rem;
}
.about-left-div p{
    font-size: 1.5rem;
    text-align: justify;
}
.about-left-div hr{
    border: solid 1px black;
    margin: 1rem auto auto auto;
    width: 90%
}
.about-left-div button{
    display: block;
    margin: 2rem auto 0 auto;
    font-size: 1.2rem;
    padding: 0.2rem 2rem;
    background-color: white;
    border: solid 2px black;
    cursor: pointer;
    transition: 250ms;
}
.about-left-div button:hover{
    box-shadow: 
        3px 3px 0px black;
}
.about-right-div{
    padding-top: 1rem;
    background: linear-gradient(135deg,rgb(37, 37, 37)  0%, rgb(37, 37, 37) 10%,rgb(20, 20, 20) 20%,  black 100%);
    box-shadow: -5px -5px 10px rgba(27, 27, 27, 0.699);
}
.about-right-div img{
    width: 90%;
    height: 80%;
    object-fit: cover;
    display: block;
    position: relative;
    transform: translate(-50%, -50%);
    top: 52%;
    left: 50%;
    /* animation: animate 2s linear forwards; */
}

/* products and services */
.products-and-services{
    width: 100%;
    height: 100vh;
    margin:0;
    border: solid 1px;
    box-shadow: inset 5px 5px 30px rgba(0, 0, 0, 0.575);
}
.products-and-services h2{
    font-size: 2.8rem;
    margin: 4.5rem 0 0.5rem 0;
    text-align: center;
    padding: 0;
}
.products-and-services hr{
    border: solid 1px black;
    margin: 0 auto;
    width: 90%;
}
.items-container{
    margin: 0 auto;
    width: 75%;
    display: flex;
    justify-content: center;
    padding: 0 5%;
    
}
.item{
    border: solid rgb(0, 0, 0) 1px;
    box-shadow: 5px 5px 0px black;
    margin: 2rem 0.7rem;
    padding: 0.5rem 1rem;
    text-align: center;
    height: fit-content;
    width: 100%;
    transition: 250ms;
}
.item:hover h3{
    border-bottom-color: black;
}
.item h3{
    font-size: 1.8rem;
    margin: 0.5rem 0;
    transition: 250ms;
    border-bottom: solid rgba(255, 255, 255, 0) 1px;
}
.item img{
    width: 100%;
    height: 13rem;
    display: block;
    margin: 0 auto;
    object-fit: cover;
    border: black 1px solid
}
.item hr{
    margin: 0.3rem auto 0 auto;
}
.item p{
    padding: 0 0 0.5rem 0;
    margin: 0.3rem auto;
    width: 85%;
    border-bottom: solid 1px rgb(0, 0, 0);
}
.item button{
    background-color: white;
    font-size: 1rem;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    border: solid 2px black;
    width: 75%;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: 250ms;

}
.item button:hover{
    box-shadow: 3px 3px 0px black;
}
.items-control-div{
    display: grid;
    grid-template-rows: 2;
}
.dot-wrapper{
    display: flex;
    justify-content: center;
    padding-top: 0.3rem;
}
.dot{
    width: 0.7rem;
    height: 0.7rem;
    border: solid 2px rgb(0, 0, 0);
    border-radius: 50%;
    margin: 0 0.25rem;
    transition: 500ms
}
.dot:nth-of-type(1),
.dot:nth-of-type(2),
.dot:nth-of-type(3){
    background-color: black;
}
.items-view-control-div{
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: 1rem auto 0 auto;
}
.items-view-control-div button{
    width: 20%;
    color: white;
    background-color: black;
    outline: none;
    padding: 0.2rem 0;
    border: solid 2px black;
    transition: 500ms;
    cursor: pointer;
}
.items-view-control-div button:hover{
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.781);
}
.full-inventory-div-wrapper{
    width: 100%;
}
.full-inventory-div-wrapper div{
    border: solid 1px black;
}
.full-inventory-div-wrapper button{
    display: block;
    margin: 0 auto;
    width: 60%;
    background-color: white;
    color: black;
    border: none;
    border-left: solid 10px rgba(0, 0, 0, 0);
    border-right: solid 10px rgba(0, 0, 0, 0);
    font-size: 1rem;
}

.full-inventory-div-wrapper button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    width: 80%;
    box-shadow: none;
    border-left: solid 10px black;
    border-right: solid 10px black;
}
/* contact section */
.contact-section{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    border: solid 1px black;
    box-shadow: inset 3px 3px 20px rgba(0, 0, 0, 0.5);
}
.contact-section h2{
    font-size: 2.8rem;
    margin: 4.5rem 0 0.5rem 0;
    text-align: center;
    padding: 0;
}
.contact-section hr{
    border: solid 1px black;
    margin: 0 auto;
    width: 90%;
}
.contact-divs-wrapper{
    background-color: black;
    width: 100%;
    height: 60%;
    margin-top: 2rem;
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contact-left-div{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact-left-div img{
    width: 90%;
    height: 20rem;
    object-fit: cover;
    border: solid 5px white;
}
.contact-right-div{
    background: linear-gradient(90deg, black 0% , black 15%, rgb(12, 12, 12),rgb(20, 20, 20), black);
}
.text-info{
    border-left: solid white 1px;
    border-right: solid white 1px;
    margin-top: 3rem;
    margin-right: 5%;
    height: auto;
}
.text-info h3{
    font-size: 1.7rem;
    margin: 0;
    padding: 0;
    margin: 2rem 0 0.2rem 1.5rem;
}
.text-info span{
    display: block;
    padding-left: 3.5rem;
    padding-bottom: 0.5rem;
    border-bottom: solid white 1px;
}
.text-info span:nth-of-type(1){
    width: 50%;
}
.text-info span:nth-of-type(2){
    width: 75%;
}
.text-info p{
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
}
.contact-right-div-bottom{
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.contact-button-wrapper{
    /* border: solid 1px yellow; */
}
.contact-button-wrapper button{
    font-size: 1rem;
    padding: 0.4rem 2rem;
    background-color: rgb(0, 0, 0);
    color: white;
    border: solid 2px rgb(255, 255, 255);
    transform: translate(0%, 50%);
    transition: 500ms;
    cursor: pointer;
}
.contact-button-wrapper button:hover{
    /* background-color: white; */
    /* color: black; */
    /* border-color: black; */
    transform: translate(0%, 25%);
}
.social-media-div{
    width: fit-content;
    /* margin: 0rem  5% 0 auto; */
    text-align: right;
    /* border: solid rgb(255, 0, 0) 1px; */
    border-bottom: solid rgb(255, 255, 255) 1px;
}
.social-media-div img{
    width: 1.8rem;
    height: 1.8rem;
    margin: 0.5rem 0 0.5rem 0.5rem;
    filter: invert(100%);
    cursor: pointer;
    transition: 250ms;
}
.social-media-div img:hover{
    filter: invert(80%);
    transform: translate(0%, -15%);
}
.contact-section hr:nth-of-type(2){
    margin-top: 0.5rem;
    box-shadow: 0px 3px 5px black;
}
.contact-section hr:nth-of-type(3){
    margin-top: 0.5rem;
    width: 60%;
    box-shadow: 5px 0px 5px black;
}
.working-hours{
    border: solid 2px black;
    position: fixed;
    transform: translate(-50%, 0%);
    top: 50%;
    left: 50%;
    background: white;
    color: black;
    box-shadow: inset 3px 3px 30px rgba(0, 0, 0, 0.405);
    display: none;
    animation: work-hours-animation 0.3s ease-in-out forwards;
    opacity: 0;
    transition: 250ms;
}
@keyframes work-hours-animation {
    /* 0%{

    } */
    100%{
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}
.working-hours p{
    margin: 1.5rem 3rem 0.5rem 3rem;
    font-size: 2rem;
    font-weight: bolder;
    /* margin: 0; */
}
.working-hours table{
    font-size: 1.3rem;
    /* border: solid 1px black; */
    width: 80%;
    margin: 0.5rem auto;
    /* text-align: center; */
}
.working-hours table td{
    padding: 0.4rem 0 0.2rem 0;
}
.working-hours table td:first-of-type{
    border-bottom: solid 1px;
}
.working-hours table td:nth-of-type(2){
    text-align: center;
    letter-spacing: 0.5px;
}
.working-hours button{
    display: block;
    margin: 0.5rem auto 0.75rem auto;
    background-color: white;
    padding: 0.3rem 0;
    width: 50%;
    font-size: 1rem;
    outline: none;
    border: solid 2px black;
}
/*  */
.back-to-the-top-btn{
    font-size: 1rem;
    background-color: white;
    padding: 0.3rem 0;
    border: solid black 2px;
    display: block;
    margin: 1rem auto 1rem auto;
    width: 15%;
    transition: 250ms;
    cursor: pointer;
}
.back-to-the-top-btn:hover{
    box-shadow: 3px 3px 0px black;
}
footer{
    color: white;
    background-color: black;
    text-align: center;
    border: solid 1px black;
    padding: 0;
}
footer p{
    margin: 0.3rem;
}


/* js triggered animations */

.item{
    opacity: 0;
    /* display: none; */
    /* transition: 250ms; */
}
.item-jumpers{
    animation: item-jumper 0.75s ease-out forwards; 
    /* opacity: 0; */
}
.item-02{
    animation-delay: 0.1s;
}
.item-03{
    animation-delay: 0.2s;
}
@keyframes item-jumper {
    0%{
        transform: translate(0%, 50%);
        opacity: 0;
    }
    100%{
        transform: translate(0%, 0%);
        opacity: 1;
    }
}

.item-04, .item-05, .item-06, .item-07{
    display: none;
    animation: item-jumper 0.75s ease-out forwards; 
}

.p-02{
    animation-delay: 0.1s;
}
.p-03{
    animation-delay: 0.2s;
}
/* probably remove that and the class from the html (text-info-p) */
.text-info-p{
    opacity: 0;
}
.text-info-animator{
    animation: info-slider 1s ease-in-out forwards;
}

@keyframes info-slider {
    0%{
        transform: translate(50%, 0%);
        opacity: 0;
        /* color: red; */
    }
    100%{
        transform: translate(0%, 0%);
        opacity: 1;
        /* color: white; */
    }
}
.contact-img{
    transform: scale(15%);
    opacity: 0;

}
.contact-img-animation{
    animation: scaler 1s ease-in-out forwards;
}

@keyframes scaler{
    0%{
        transform: scale(15%);
    }
    80%{
        transform: scale(108%);
    }
    100%{
        transform: scale(100%);
        opacity: 1;
    }
}


.about-left-div-appearing{
    animation: div-slider 0.75s ease-in-out forwards;
}

@keyframes div-slider {
    100%{
        opacity: 1;
        text-shadow: none;
    }
}
/* product window styles */
.products-window{
    border: solid 3px black;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
    top: 50%;
    left: 50%;
    background-color: white;
    width: 70%;
    height: 90%;
    z-index: 20;
    /* overflow-y: auto; */
    padding: 0 2rem;
    box-shadow: inset 5px 5px 35px rgba(0, 0, 0, 0.3);
    opacity: 0;
    animation: product-appearence 0.5s ease-in-out forwards;
    display: none;
}
@keyframes product-appearence {
    80%{
    transform: translate(-50%, -50%) scale(110%);
    }
    100%{
    transform: translate(-50%, -50%) scale(100%);
    opacity: 1
    }
}
.buttons-container{
    border-bottom: solid 1px rgb(0, 0, 0);
    padding: 0 2rem 0.5rem 2rem;
    display: flex;
    justify-content: space-evenly;
    margin: 0;
}
.buttons-container button{
    width: 100%;
    background-color: black;
    color: white;
    border: solid 2px black;
    /* outline: none; */
    margin: 0 0.1rem;
    font-size: 1rem;
    transition: 250ms;
    cursor: pointer;
    padding-top: 0.4rem;
    padding-bottom: 0.2rem;
}
.buttons-container button:hover{
    /* box-shadow: 2px 2px 0px rgba(0, 0, 0, 1); */
    transform: translate(0%, -25%);
}
.products-window h3{
    text-align: center;
    font-size: 3rem;
    margin: 1rem auto 1.5rem auto;
    border-bottom: solid 2px black;
    padding: 0;
    width: 50%;
}
.product-item-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2;
    height: 65%;
    overflow-y: auto;
}
.product-item{
    border: solid 1px rgb(0, 0, 0);
    margin: 0.5rem 0.7rem;
    box-shadow: 5px 5px 0px black;
    text-align: center;
    background-color: rgb(245, 245, 245);
}
.product-item h4:first-of-type{
    /* color: red; */
    margin: 0;
    font-size: 1.5rem;
    margin: 0.6rem 0 0 0
}
.product-item h4:nth-of-type(2){
    font-size: 1.1rem;
    margin: 0.5rem auto 0 auto;
    font-weight: normal;
    /* border-bottom: solid 1px black; */
    /* width: 75%; */
}
.product-item p{
    font-size: 1.1rem;
    margin: 0.7em 0
}
.product-item p span{
    font-weight: bolder;
}
.products-window img{
    width: 85%;
    margin: 0.5rem auto;
    display: block;
    border: solid 1px black;
    height: 10rem;
    object-fit: cover;
    /* border-bottom: solid 1px rgb(0, 0, 0); */
}
.product-item hr:first-of-type{
    width: 90%;
    border: solid 1px black;
    margin: 0 auto;
}
.product-item hr:nth-of-type(2){
    width: 50%;
    border: solid 1px rgba(0, 0, 0, 0.63);
    margin: 0.5rem auto 0 auto;
}
.product-item-hr{
    margin:0;
    border: solid 1px black;
}
.bottom-btn-wrapper-div{
    /* border: solid 1px red; */
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    /* padding: 0 5rem; */
}
.bottom-btn-wrapper-div button{
    background-color: white;
    color: black;
    border: solid 2px black;
    width: 15%;
    font-size: 1rem;
    padding: 0.2rem 0;
    transition: 250ms;
    cursor: pointer;
}
.bottom-btn-wrapper-div button:hover{
    box-shadow: 3px 3px 0px black;
}
/* NO MEMDIA QUERIES FOR OVER 1100 / 650 */
