
:root{
    --bg-color: 120deg, rgb(130, 161, 192), rgb(174, 193, 205), rgb(250, 251, 251);
    --form-bg-color: 320deg, rgb(25, 0, 126), rgb(49, 17, 173), rgb(43, 0, 214);
    --hover-bg:rgba(33, 177, 255, 0.827);
    --text-color: rgb(0, 255, 238);
    --button-bg-color: rgb(255, 0, 149);
    --border-color: rgb(229, 229, 229);
}
html{
    font-family: sans-serif;
}
body{
    background: linear-gradient(var(--bg-color));
    height: 100vh;
    overflow-y: hidden ;
}
form{
    margin: 10rem auto 3rem auto;
    width: 25%;
    padding: 1rem 2rem;
    background: linear-gradient(var(--form-bg-color));
    border: solid 1px var(--border-color);
    border-radius: 15px;
}
h2{
    font-size: 2rem;
    color: var(--text-color);
    text-decoration: underline;
    text-align: center;
}
input{
    width: 100%;
    border: none;
    border-bottom: solid 1px var(--border-color);
    outline: none;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--text-color);
    padding: 0.5rem 0 0.3rem 0.2rem;
    background: transparent;
}
input:nth-of-type(1){
    margin-top: 1.5rem;
}
#stay-logged{
    margin-top: 1.5rem;
    display: inline;
    width: initial;
    outline: initial;
    box-shadow: initial;

}
#stay-logged, button:hover, p:hover{
    cursor: pointer;
}
label{
    font-size: 1.1rem;
    color: white;
}
button{
    display: block;
    width: 100%;
    margin-top: 2rem;
    border: none;
    padding:0.5rem;
    font-size: 1.1rem;
    background: var(--button-bg-color);
    color: var(--text-color);
    transition: 300ms;
}
p{
    font-size: 0.8rem;
    display: inline-block;
    color: rgb(255, 255, 255);
    transition: 300ms;
}
button:hover{
    background: var(--hover-bg);
    color: rgb(255, 255, 255);
    
}
p:hover{
    color: var(--text-color);
}

