:root{


    --bg-color: 120deg, rgb(1, 60, 118) 5%,rgb(7, 87, 134) 20%, rgb(8, 167, 167);
    --form-bg-color: rgb(248, 153, 240);
    --hover-bg:rgb(211, 255, 117) ;
    --text-color: rgb(0, 0, 0);
    --button-bg-color: rgba(33, 177, 255, 0.827);
    --button-text-color: white;
    --border-color: rgb(0, 0, 0);
}
html{
    font-family: sans-serif;
    background: linear-gradient(var(--bg-color));
}
body{
    height: 100vh;
    padding-bottom: 5rem;
    overflow: auto;
}
form{
    border: none;
    margin: 1rem auto 5rem auto;
    width: 50%;
    padding: 4rem 6rem 3rem 6rem;
    background: var(--form-bg-color);
    box-shadow: 3px 3px 15px  black ;
    color: var(--text-color);
    border-radius: 25px;
}
h2{
    font-size: 2.5rem;
    color: var(--text-color);
    text-decoration: underline;
}
form, input, button{
    border-radius: 15px;
    border: 1px solid black;
    box-shadow: 3px 3px 3px 3px black;
}
input{
    width: 100%;
    border: solid 2px var(--border-color);
    outline: none;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--text-color);
    background: white;
    padding: 0.5rem 0 0.5rem 0.2rem;
    font-size: 1.2rem;
}
input:hover{
    border-bottom-color:rgb(160, 160, 160) ;
}

button:hover, p:hover{
    cursor: pointer;
}
label{
    display: block;
    font-size: 1.3rem;
    padding:0.5rem; 
    margin: 0;
    font-weight: bold;
}
.checkbox-wrapper, .radio-wrapper{
    padding-left: 3rem;
}

.option , .check{
    display: inline-block;
    width: initial;
    color: var(--text-color);
}
#choice0, #choice1, #choice2, #option0, #option1, #option2{
    width: initial;
    box-shadow: none;
    font-weight: 100;
}
.checkbox-option-title, .radio-option-title{
    display: inline-block;
}
button{
    display: block;
    width: 100%;
    margin-top: 3rem;
    border: solid 1px;
    padding:0.5rem 0;
    font-size: 1.1rem;
    background: var(--button-bg-color);
    transition: 300ms;
    border: none;
    color: var(--button-text-color);
}
button:hover{
    background: var(--hover-bg);
    color: black
}

