html, html *{
    padding:0 ;
    margin: 0 ;
    scroll-behavior:smooth;
    /* font-family: sans-serif; */
}
nav{
    position:fixed;
    top:0%;
    width: 100%;
    box-shadow: 3px 3px 13px black ;
    z-index: 3;
}
.upper-nav{
    background-color: rgb(14, 14, 14);
    padding:0.8rem;
    display: flex;
    justify-content: space-between;
}
.search{
    font-size: 1.2rem;
    margin-left: 5rem;
    background-color: transparent;
    border: none;
    border-bottom: solid white 1px;
    color: white;
    width: 30%;
    outline: none;
}
.social-icons{
    margin-right: 5rem;
}
.icons{
    width:1.5rem;
    height:1.5rem;
    margin-left: 1rem;
    filter: invert(100%);
}
.lower-nav{
    background-color: rgba(254, 250, 255, 0.87);
    padding:1.2rem;
    display: flex;
    justify-content: space-between;
}
.lower-nav h3{
    display: inline-block;
    font-size: 2rem;
}
.lower-nav span{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-right: 4rem;
}
.lower-nav span a{
    margin-left: 1.5rem;
    text-decoration: none;
    color: rgb(111, 0, 107);
    transition: 200ms;
}
.lower-nav span a:hover{
    color: rgb(77, 172, 207)
}
.intro-wall{
    margin-top: 9rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.wall-img{
    /* margin-top: 9rem; */
    width:92%;
    height: 70vh;
    margin:1rem;
    object-fit: cover;
}
.middle-img{
    height:50vh
}
.title{
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    background-color: white; 
    padding:1rem;
    /* width:32vw;
    z-index: 3; */

}
.indicator{
    display: inline-block;
    margin: 5rem 0 0  4rem;
    padding: 1rem;
    font-size: 2rem;
    border-bottom: solid gray 1px;
}
.all-posts-btn{
    margin: 1rem 0 5rem 4rem;
    background-color: black;
    color: white;
    outline: none;
    font-size: 1.3rem;
    padding: 0.5rem;
    border: solid black 1px;
    transition: 300ms;
}
.all-posts-btn:hover{
    background-color: rgb(77, 172, 207);
    cursor: pointer;
}
.sample-posts{
    margin:2rem 2rem 0 2rem;
    /* border: solid red 1px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.post{
    border: solid rgba(194, 194, 194, 0.896) 1px; 
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin:1rem;
    height: 20rem;
    overflow: hidden;
}
.post img{
    width:100%;
    height: 20rem;
    object-fit: cover;
}

.post div{
    padding:2rem;
    height: 20rem;
}
.post span{
    display: inline-block;
    margin-bottom: 1.5rem;
}
.post p{
    letter-spacing: 1px;
    font-size: 1.1rem;
    transition: 300ms;
}
.post p:hover{
    color: rgb(77, 172, 207);
    cursor: pointer;
}
form{
    background-color: rgba(77, 172, 207, 0.665);
    border-top: 1px solid rgba(0, 0, 0, 0);
    padding: 2rem 10rem;
    text-align: right;
}
form h3{
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0 4rem 0;
}
form label, form input{
    margin-left: 4em;
    margin-right: 4rem;
    font-size: 1.5rem;
    text-align: left;

}
form input{
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    /* margin: 1rem;1 */
     background-color: transparent;
     transition: 300ms;
}
form input:hover{
    border-color: rgb(0, 134, 183);
}
form span{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2;
}
form button{
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: white;
    width: 15%;
    margin-top: 2rem;
    margin-right: 4rem;
    outline: none;
    border: none;
    transition: 300ms;
}
form button:hover{
    color: white;
    background-color: rgba(36, 0, 35, 0.938);
    cursor: pointer;
}
footer{
    background-color: black;
    color: white;
    padding: 2rem;
    /* text-align: center; */
}
footer p{ 
    display: inline-block;
    margin-left: 3rem;
}

/* my bog */

.title-h3{
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 1px black solid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.5rem;
    margin-top: 13rem;
}
.main-blog-section{
    margin: 1rem 10rem 5rem 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.blog-thumb{
    /* display: grid;
    grid-template-columns: 1fr 1fr; */
    height: 30rem;
    margin: 1rem 1rem;
}
.blog-thumb span{
    display: inline-block;
    border: solid rgba(154, 154, 154, 0.589) 1px;
    border-top: none;
    padding: 1.5rem 3rem;
    padding-bottom: 1rem;
}
.blog-thumb span  p{
    display: flex;
    justify-content: space-between;
}
.vertical-elip{
    width: 1.2rem;
    height: 1.2rem;
}
.blog-img{
    width: 100%;
    height: 50%;
    object-fit: cover;
}
.blog-title{
    margin: 2rem 0 0.5rem 0;
    font-size: 1.8rem;
}

/* about */

.main-about-section{
    margin: 13rem 14rem 2rem 8rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem 5rem ;
    background-color: rgba(13, 82, 116, 0.1);
    z-index:2;
    /* letter-spacing: 1px; */
    word-spacing: 2px;
    height: 100vh;
}
.about-title{
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.main-about-section p{
    font-size: 1.3rem;

}
.main-about-section img{
    width:140%;
    height: 60%;
    margin:5rem;
    /* object-fit: cover; */
    position:static;
    transform: translate(0%, 0%);
    z-index:1;
}

/* blog content */
.main-blog-content{
    display: inline-block;
    margin-top: 15rem;
    border:solid red 1px;
    width: 50%;
}
.article-section{
    display: inline-block;
    border:solid rgb(43, 255, 0) 1px;
    width: 30%;
}
