/* add comments */
:root{
    --white: white;
    --purple: rgb(111, 0, 107);
    --black: black;
    --light-blue: rgb(77, 172, 207);
}
html, html *{
    padding:0 ;
    margin: 0 ;
    scroll-behavior:smooth;
}
/* crammed */
.icon, .lower-nav span a, .all-posts-btn, .post p, form input, #form-btn, .read-more{   
    transition: 300ms;
}
.search, .all-posts-btn, form input, #form-btn, .read-more{
    outline: none;
}
.upper-nav, .lower-nav, .blog-thumb span  p, .date-elip, .pseudo-title{
    display: flex;
    justify-content: space-between;
}
.nav-title, .recent, .post span, footer p, .blog-thumb span, .main-blog-content, .blog-content-img, .article-section{
    display: inline-block;
}
.intro-wall, .sample-posts, .post, .main-blog-section,form div, .main-about-section, .blog-sample-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.wall-img, .post img, .blog-thumb-img, .blog-content-img, .blog-sample img, .article-img{
    object-fit: cover;
}
.search, form input, #form-btn, .read-more{
    border: none;
}
.icon:hover, .all-posts-btn:hover, .post p:hover, #form-btn:hover, .read-more:hover, .vertical-elip:hover,
.pseudo-title span:hover{
    cursor: pointer;
}
/* nav bar */
nav{
    position:fixed;
    top:0%;
    width: 100%;
    box-shadow: 3px 3px 13px black ;
    z-index: 3;
}
.upper-nav{
    background-color: rgb(0, 0, 0);
    padding:0.8rem;
}
.search{
    font-size: 1.2rem;
    margin-left: 5rem;
    background-color: transparent;
    border-bottom: solid var(--white) 1px;
    color: var(--white);
    width: 30%;
}
.social-icons{
    margin-right: 5rem;
}
.icon{
    width:1.5rem;
    height:1.5rem;
    margin-left: 1rem;
    filter: invert(100%);
}
.icon:hover{
    filter: invert(70%);
}
.lower-nav{
    background-color: rgba(254, 250, 255, 0.87);
    padding:1.2rem;
}
.nav-title{
    font-size: 2rem;
}
.lower-nav span{
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-right: 4rem;
}
.lower-nav span a{
    margin-left: 1.5rem;
    text-decoration: none;
    color: var(--purple);
}
.lower-nav span a:hover{
    color: var(--light-blue);
}
/* navigation bar end */

/* index main  */
.intro-wall{
    margin-top: 9rem;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
.wall-img{
    width:92%;
    height: 70vh;
    margin: 1rem;
}
.wall-mid-img{
    height:50vh
}
.title{
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    background-color: var(--white); 
    padding: 1rem;

}
.recent{
    margin: 5rem 0 0  4rem;
    padding: 1rem;
    font-size: 2rem;
    border-bottom: solid gray 1px;
}
.all-posts-btn{
    margin: 1rem 0 5rem 4rem;
    background-color: var(--black);
    color: var(--white);
    font-size: 1.3rem;
    padding: 0.5rem;
    border: solid var(--black) 1px;
}
.all-posts-btn:hover{
    background-color: var(--light-blue);
}
.sample-posts{
    margin:2rem 2rem 0 2rem;
}
.post{
    border: solid rgba(194, 194, 194, 0.896) 1px; 
    margin: 1rem;
    height: 20rem;
    overflow: hidden;
}
.post img{
    width:100%;
    height: 20rem;
}
.post div{
    padding:2rem;
    height: 20rem;
}
.post span{
    margin-bottom: 1.5rem;
}
.post p{
    letter-spacing: 1px;
    font-size: 1.1rem;
}
.post p:hover{
    color: var(--light-blue);
}
/* index main content end */
/* form  */
form{
    background-color: rgba(77, 172, 207, 0.665);
    border-top: 1px solid rgba(0, 0, 0, 0);
    padding: 2rem 10rem;
    text-align: right;
}
.form-title {
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0 4rem 0;
}
form label, form input{
    font-size: 1.5rem;
    text-align: left;
    display: block;
    width: 100%;
}
form label{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
form input{
    border-bottom: 1px solid var(--black);
    background-color: transparent;
}
form input:hover{
    border-color: var(--light-blue);
}

#form-btn{
    font-size: 1.2rem;
    padding: 0.5rem;
    background-color: var(--white);
    width: 15%;
    margin-top: 2rem;
    margin-right: 5rem;
}
#form-btn:hover{
    color: var(--white);
    background-color: rgba(36, 0, 35, 0.938);
}
form div{
    padding: 0 4rem;
    margin:0;
}
form div span{
    margin: 0 1rem
}
/* form end  */

/* footer */
footer{
    background-color: var(--black);
    color: var(--white);
    padding: 2rem;
    /* text-align: center; */
}
footer p{ 
    margin-left: 3rem;
}
/* footer end */

/* my bog */

.title-h3{
    text-align: center;
    font-size: 2.5rem;
    border-bottom: 1px var(--black) solid;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 0.5rem;
    margin-top: 13rem;
}
.main-blog-section{
    margin: 1rem 10rem 5rem 10rem;
}
.blog-thumb{
    height: 30rem;
    margin: 1rem 1rem;
}
.blog-thumb span{
    border: solid rgba(154, 154, 154, 0.589) 1px;
    border-top: none;
    padding: 1.5rem 3rem;
    padding-bottom: 1rem;
}

.vertical-elip{
    width: 1.2rem;
    height: 1.2rem;
}
.blog-thumb-img{
    width: 100%;
    height: 50%;
}
.blog-thumb-title{
    margin: 2rem 0 0.5rem 0;
    font-size: 1.8rem;
}
/* my blog end */

/* about */

.main-about-section{
    margin: 13rem 14rem 5rem 8rem;
    padding: 4rem 5rem ;
    background-color: rgba(13, 82, 116, 0.1);
    z-index:2;
    word-spacing: 2px;
    height: 100vh;
}
.about-title{
    font-weight: bold;
    font-size: 2.8rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}
.about-text{
    font-size: 1.3rem;

}
.about-img{
    width:140%;
    height: 50%;
    margin:5rem;
    position:static;
    transform: translate(0%, 0%);
    z-index:1;
}

/* blog content */
.main-blog-content{
    margin-top: 9rem;
    width: 50%;
    margin-left: 12rem;
}
.date-elip{
    margin: 2rem 0;
    font-size: 1.2rem;
}
.blog-content-title{
    font-size: 2.5rem;
    margin: 1.4rem 0;
}
.content{
    font-size: 1.2rem;
}
.blog-content-img{
    margin: 2.5rem 0;
    width: 100%;
    height:50%;
}
.inner-title{
    margin: 1rem 0;
    font-size: 2rem;
}
.content-quote{
    padding:0 2rem;
    margin: 2rem 0;
    font-size: 1.5rem;
    font-style: italic;
    border-left: solid 2px var(--light-blue);
}
.main-blog-content hr{
    margin-top: 2rem;
}
.main-blog-content .icons{
    filter: invert(0%);
    margin-top: 1rem;
}
.reminder{
    margin: 3rem 0 1rem 0;
}
.pseudo-title{
    font-size: 1.2rem;
    margin-bottom: 2rem;
}
.pseudo-title span{
    transition: 300ms;
}
.pseudo-title span:hover{
    color: var(--light-blue)
}
.blog-sample{
    border: 1px solid rgba(135, 135, 159, 0.452);
    margin-top:0;
    height:15rem;
}
.blog-sample:nth-of-type(1){
    margin-right: 1rem;
}
.blog-sample:nth-of-type(2){
    margin-left: 1rem;
}
.blog-sample img{
    width:100%;
    height: 60%;
}
.blog-sample p{
    padding: 1rem;
    font-weight: bold;
    font-size: 1.3rem;
}
/* article  */
.article-section{
    background-color: rgba(230, 122, 225, 0.363);
    width: 25%;
    height:90vh;
    transform: translate(0, -100%);
    margin-left:3rem ;
    text-align: center;
    padding:0 ;
}
.article-img{
    width: 70%;
    height: 35%;
    margin:3rem 0 1rem 0;
}
.article-section p{
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 1rem;
    text-align: left;
}
.article-section p:first-of-type{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 1.5rem;
}
.read-more{
    margin: auto;
    display: block;
    margin-top: 1rem;
    padding: 0.7rem 1.2rem;
    font-size: 1.1rem;
    color: var(--purple);
} 
.read-more:hover{
    background-color: var(--purple);
    color: var(--white);
}
.article-section hr{
    margin: 1rem;
}
.article-section .social-icons{
    filter: invert(100%);
    margin: auto;
}
.article-section .icons{
    margin: 0 1rem
}

@media (min-width: 360px) and (max-width: 767px) {
    nav{
        width: 100vw;
    }
    .upper-nav{
        padding-top: 1.2rem;
    }
    .search{
        margin-left: 1.5rem;
    }
    .social-icons{
        margin-right: 1rem;
    }
    .icon{
        width:1rem;
        height:1rem;
    }
    .lower-nav{
        background-color: rgba(254, 250, 255, 0.87);
        padding:1.2rem;
    }
    .nav-title{
        font-size: 2rem;
    }
    .lower-nav span{
        display: none;
    }
    /* index main */
    .intro-wall{
        display: block;
        margin-top: 9rem;
        text-align: center;
    }
    .wall-img{
        width:92%;
        height: 70vh;
        margin: 0;
    }
    .first-img, .third-img{
        display: none;
    }
    .wall-mid-img{
        height:50vh;
        width: 100%;
    }
    .middle-img-wrapper{
        width: 100vw;
    }
    .recent{
        display: none;
    }
    .sample-posts{
        margin:0;
        display: block;
        width: 100vw;
        border: solid red 1px;
    }
    .post{
        display: block;
        height: 35rem;
        margin:1.5rem 3.5rem;
    }
    .post img{
        width:100%;
        height: 50%;
    }
    .post div{
        padding:2rem;
        padding-bottom: 5rem;
        height: 25rem;
    }
    .all-posts-btn{
        margin: 1rem  0 0 3.5rem ;
    }
    /* index main end */

    /* form  */

    form{
        margin-top: 2rem;
        padding: 1rem;
        text-align: left;
    }
    .form-title {
        font-size: 2rem;
        margin: 2rem 0;
    }
    form label, form input{
        font-size: 1rem;
    }
    #form-btn{
        font-size: 1rem;
        width: 25%;
        margin-left: 1rem;
    }
    form div{
        padding:0;
    }
    form div span{
        margin: 0 1rem
    }
    /* form end  */
    
    /* footer */
    footer{
        padding: 1rem 2rem;
    }
    footer .social-icons{
        margin-right: 0.5rem;
    }
    footer p{ 
        margin-left: 0;
        font-size: 0.8rem;
    }
    /* footer end */
    /* my blog */
    
    .title-h3{
        font-size: 2.5rem;
        border-bottom: 1px var(--black) solid;
        width: 70%;
        padding-bottom: 0.5rem;
        margin-top: 10rem;
    }
    .main-blog-section{
        margin: 1rem auto;
        display: block;
    }
    .blog-thumb{
        height: 35rem;
        margin: 1rem 2rem;
    }
    .vertical-elip{
        width: 1rem;
        height: 1rem;
    }
    .blog-thumb-img{
        width: 100%;
        height: 50%;
    }
    .blog-thumb-title{
        margin: 1.5rem 0 0.5rem 0;
        font-size: 1.5rem;
    }
    /* about section */

    .main-about-section{
        margin: 11rem 0 30rem 0;
        padding: 2rem 1rem ;
        z-index:0;
    }
    .main-about-section div{
        width: 90vw;
    }
    .about-title{
        font-size: 2.3rem;
        margin-bottom: 2.5rem;
    }
    .about-img{
        display: block;
        transform: translate(-125% ,190%);
        width: 90vw;
    }
    /* about section end */
    
    /* blog - content */
    
    .main-blog-content{
        margin: 9rem 0 0 0;
        /* width: calc(100vw - 2.5rem); */
        width: 90vw;
        padding: 1rem
    }
    .date-elip{
        margin: 2rem 0;
        font-size: 1rem;
    }
    .blog-content-title{
        font-size: 2rem;
        margin: 1rem 0;
    }
    .content{
        font-size: 1.2rem;
    }
    .blog-content-img{
        margin: 2.5rem 0;
        width: 100%;
        height:50%;
    }
    .inner-title{
        margin: 1rem 0;
        font-size: 1.5rem;
    }
    .content-quote{
        padding:0 2rem;
        margin: 2rem 0;
        font-size: 1.2rem;
    }
    .main-blog-content hr{
        margin-top: 2rem;
    }
    .main-blog-content .icons{
        margin-top: 1rem;
    }
    .reminder{
        margin: 3rem 0 1rem 0;
    }
    .pseudo-title{
        font-size: 1.2rem;
        margin-bottom: 2rem;
    }
    .blog-sample{
        margin-top:0;
        height:15rem;
    }
    .blog-sample:nth-of-type(1){
        margin-right: 1rem;
    }
    .blog-sample:nth-of-type(2){
        margin-left: 1rem;
    }
    .blog-sample img{
        width:100%;
        height: 60%;
    }
    .blog-sample p{
        padding: 1rem;
        font-weight: bold;
        font-size: 1rem;
    }
    /* article  */
    .article-section{
        display: none;
    }
}
