html *{
  font-family: 'Times New Roman';
}

.Navigation{
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  background: linear-gradient(45deg, rgb(255, 255, 255), rgba(214, 214, 214, 0.766));
  font-size: 1.8rem;
  box-shadow: 7px 7px 30px black;

}
.Navigation p{
  margin: 1.6rem auto 1.3rem auto;
}
.Navigation-logo{
  text-align: center;
}
.Navigation-logo p{
  display: inline-block;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.8);
  font-size: 2.2rem;
  margin: 1.3rem auto auto 2rem;
  text-decoration: overline underline;
}
.Navigation-img{
  width: 2.4rem;
  height : 2.4rem;
  display: inline-block;
}
.Navigation-destinations{
  display: flex;
  justify-content: space-evenly;
  padding-right: 4rem;
}
