:root{
    --bg-color: 120deg, rgba(148, 148, 148, 0.775), rgba(209, 209, 209, 0.678),  white;
    --form-bg-color: white;
    --hover-bg:rgba(128, 128, 128, 0.819) ;
    --text-color: rgb(43, 43, 43);
    --button-bg-color: rgb(193, 193, 193);
}
html{
    font-family: sans-serif;
}
body{
    background: linear-gradient(var(--bg-color));
    height: 100vh;
    
    overflow: auto;
}
form{
    border: solid rgb(8, 6, 6) 1px;
    margin: 5rem auto 3rem auto;
    width: 50%;
    padding: 1rem 6rem;
    background-color: var(--form-bg-color);
    border-radius: 15px;
    box-shadow: 3px 3px 15px black;
}
h2{
    font-size: 2rem;
    text-align: center;
}
input{
    width: 100%;
    border: none;
    border-bottom: solid var(--text-color) 1px;
    outline: none;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--text-color);
}
input:hover{
    border-bottom-color:rgb(160, 160, 160) ;
}

button:hover, p:hover{
    cursor: pointer;
}
label{
    display: block;
    font-size: 1.2rem;
    padding:0.5rem; 
    margin: 0;
}

.check{
    display: inline-block;
    width: initial;
    border: solid 1px rgb(8, 0, 255);
    margin: 1rem 0;
}
.option{
    display: inline-block;
    width: initial;
    border: solid 1px rgb(60, 255, 0);
    margin: 1rem 0;
}
#choice0, #choice1, #choice2, #option0, #option1{
    width: initial;
}
.checkbox-option-title, .radio-option-title{
    display: inline-block;
}
button{
    display: block;
    width: 100%;
    margin-top: 3rem;
    border: solid 1px;
    padding:0.5rem 0;
    font-size: 1.1rem;
    background: var(--button-bg-color);
    border-radius: 15px;
    transition: 300ms;
}
p{
    font-size: 0.8rem;
    display: inline-block;
    text-align: right;
    color: rgb(22, 22, 22);
    transition: 300ms;
}
button:hover{
    background-color: var(--hover-bg);
    
}
p:hover{
    color: var(--button-bg-color);
}
