:root{
    --bg-color: 100deg, rgb(4, 93, 125), rgb(18, 148, 247), rgb(97, 191, 245);
    --dot: rgb(87, 0, 60);
}

html *{
  padding:0 ;
  margin: 0;
}
body{
  overflow: hidden;
}
.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000;
}

.loading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ff4081;
}

.loading-spinner {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: linear-gradient(to right, transparent 50%, #ff4081 0);
  background-size: 200% 100%;
  animation: gradient-slide 1s linear infinite;
}

.loading-text {
  margin-top: 20px;
  font-size: 24px;
  letter-spacing: 2px;
  font-family: "Arial", sans-serif;
}

@keyframes gradient-slide {
  0% {
    background-position: -100% 0;
  }
  100% {
    background-position: 100% 0;
  }
}
