:root{
    --bg-color: 120deg, rgb(130, 161, 192), rgb(174, 193, 205), rgb(250, 251, 251);
    --form-bg-color: 320deg, rgb(25, 0, 126), rgb(49, 17, 173), rgb(43, 0, 214);
    --hover-bg:rgba(33, 177, 255, 0.827);
    --text-color: rgb(0, 255, 238);
    --button-bg-color: rgb(255, 0, 149);
    --button-text-color: white;
    --border-color: rgb(229, 229, 229);
}
html{
    font-family: sans-serif;
    background: linear-gradient(var(--bg-color));
}
body{
    height: 100vh;
    padding-bottom: 5rem;
    overflow: auto;
}
form{
    border: solid var(--border-color) 1px;
    margin: 1rem auto 5rem auto;
    width: 50%;
    padding: 4rem 6rem 3rem 6rem;
    background: linear-gradient(var(--form-bg-color));
    box-shadow: 10px 13px 5px 2px black;
    color: var(--text-color);
    border-radius: 25px;
}
h2{
    font-size: 2.5rem;
    text-align: center;
    color: var(--text-color);
    margin-top: 5rem; 
}
hr{
    border-color:  rgb(117, 117, 117);
}
input{
    width: 100%;
    border: none;
    border-bottom: solid var(--text-color) 1px;
    outline: none;
    margin: 0.5rem 0;
    font-size: 1.2rem;
    color: var(--button-text-color);
    background: transparent;
}
input:hover{
    border-bottom-color:rgb(160, 160, 160) ;
}

button:hover, p:hover{
    cursor: pointer;
}
label{
    display: block;
    font-size: 1.3rem;
    padding:0.5rem; 
    margin: 0;
}
.checkbox-wrapper, .radio-wrapper{
    padding-left: 3rem;
}
.check{
    display: inline-block;
    width: initial;
    color: var(--button-text-color);
    /* border: solid 1px rgb(8, 0, 255); */
}
.option{
    display: inline-block;
    width: initial;
    color: var(--button-text-color);
    /* border: solid 1px rgb(60, 255, 0); */
}
#choice0, #choice1, #choice2, #option0, #option1, #option2{
    width: initial;
}
.checkbox-option-title, .radio-option-title{
    display: inline-block;
}
button{
    display: block;
    width: 100%;
    margin-top: 3rem;
    border: solid 1px;
    padding:0.5rem 0;
    font-size: 1.1rem;
    background: var(--button-bg-color);
    transition: 300ms;
    border: none;
    color: var(--button-text-color)
}
p{
    font-size: 0.8rem;
    display: inline-block;
    text-align: right;
    color: rgb(22, 22, 22);
    transition: 300ms;
}
button:hover{
    background-color: var(--hover-bg);
    
}
p:hover{
    color: var(--button-bg-color);
}
